/* CodeMirror用のスタイル */

/* CodeMirror用 */
.CodeMirror {
    font-size: 1rem;
    line-height: 1.4;
    height: auto;
}
/* CodeMirror placeholder 用 */
.CodeMirror-placeholder {
    color: #999 !important;       /* 薄いグレー */
    opacity: 0.6;
}

/* CodeMirrorラッパー */
.cm-wrapper {
    min-height: 200px;
    max-height: 600px;
    border: 1px solid var(--border-default);
    border-radius: var(--radius-sm);
    overflow: hidden;   /* CodeMirror内でスクロール */
}
