:root {
    /* Theme Colors */
        --color-pink:       #ff6f91;
        --color-coral:      #ff9671;
        --color-yellow:     #ffc75f;
        --color-lemon:      #f9f871;
        --color-mint:       #a3d2ca;
        --color-sky:        #84b6f4;
        --color-lavender:   #c7a0e8;
    
    /* Background */
        --bg-page:      #fdfcfb;
        --bg-section:   #fffdf6;
        --bg-query:     #fef3f8;
        --bg-result:    #f0f7ff;
        --bg-warning:   #fff8f0;
    
    /* Text Colors */
        --text-success: #046b2e;
        --text-danger:  #8b0f12;

    /* Radius */
        --radius-xxs:   2px;
        --radius-xs:    4px;
        --radius-sm:    8px;
        --radius-md:    12px;
        --radius-lg:    16px;
        --radius-xl:    20px;
    
    /* Shadows */
        --shadow-xxs: 0 1px 2px rgba(0,0,0,0.5);
        --shadow-xs: 0 2px 4px rgba(0,0,0,0.5);
        --shadow-sm: 0 2px 6px rgba(0,0,0,0.5);
        --shadow-md: 0 4px 10px rgba(0,0,0,0.7);
}