/* 煽り画像 */

#loading-logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    pointer-events: none;
    z-index: 9999;
}

#loading-logo.show {
    animation: logo-zoom 1.4s ease-in-out forwards;
}

@keyframes logo-zoom {
    0% {
        transform: translate(-50%, -50%) scale(0.4);
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    70% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1.3);
        opacity: 0;
    }
}