<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', v=1) }}">
    <!-- CodeMirror -->
        <!-- CodeMirror CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.15/codemirror.min.css">
        <!-- CodeMirror JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.15/codemirror.min.js"></script>
        <!-- placeholder addon -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.14/addon/display/placeholder.min.js"></script>
        <!-- SQL モード -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.15/mode/sql/sql.min.js"></script>
        <!-- テーマ（お好みで） -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.15/theme/eclipse.min.css">
    <!-- jQuery UI -->
        <!-- jQuery UI CSS -->
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <!-- Prism.js -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block contents %}{% endblock %}
    {% include "components/footer.html" %}
    {% block loading_logo %}{% endblock %}
        <!-- jQuery -->
            <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
        <!-- jQuery UI JS -->
            <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
        <!-- Prism.js -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>

        <!-- Custom JS -->
            <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <!-- canvas-confetti -->
            <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
    {% block javascript %}{% endblock %}
</body>
</html>