{% extends 'base.html' %}
{% block title %}Top Page{% endblock %}
{% block contents %}
<main class="page page--sql">
    <!-- イントロダクション部分 -->
    {% include "parts/intro/top_intro.html" %}
    <!-- テーブル一覧部分（`table_names`を渡す必要あり） -->
    {% include "parts/table_structure/table_structure.html" %}
    <!-- クエリエディタ部分 -->
    {% include "parts/query_editor/query_editor_full.html" %}
    <!-- 結果表示部分 -->
    <!-- 結果セット（`columns`, `rows`を渡す必要あり） -->
    {% include "parts/show_result/show_result.html" %}
</main>
{% endblock %}
