{% extends 'base.html' %}
{% block title %}
    {{ table_name }} の構造
{% endblock %}
{% block contents %}
    <main class="page page--sql">
        <section class="section section--result">
            <h1 class="heading heading--xl">{{ table_name }} テーブル</h1>
            <div class="table table--result">
                <table>
                    <thead>
                        <tr>
                            {% for col in columns %}
                                <th>{{ col }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in rows %}
                            <tr>
                                {% for cell in row %}
                                    <td>{{ cell }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </main>
{% endblock %}