{% extends 'base.html' %}
{% block title %}Playground{% endblock %}
{% block contents %}
<main class="page page--sql">
    {% include "parts/intro/practices_intro.html" %}

    <!-- 練習問題リスト -->
    <section class="section section--practice-list">
        <h2 class="heading heading--lg">問題一覧</h2>
        <article class="chapter">
            <h3 class="heading heading--md chapter-title">第5章</h3>
            <ul class="practice-list">
                <li class="practice-item">
                    <a href="{{ url_for('practice_detail', chapter=5, number=0) }}">
                        書いてみよう
                    </a>
                </li>
                <li class="practice-item">
                    <a href="{{ url_for('practice_detail', chapter=5, number=1) }}">
                        第1問
                    </a>
                </li>
            </ul>
        </article>
    </section>
</main>
{% endblock %}