{% extends 'base.html' %}
{% block title %}Practice{% endblock %}
{% block contents %}
{% include "parts/header/practice_detail_header.html" %}
<main class="page page--sql">
    {% include "parts/table_structure/table_structure.html" %}

    <section class="section">
        <h2 class="heading heading--lg">第{{ row.ChapterNumber }}章 {{ row.ChapterTitle }}</h2>
        <h3 class="heading heading--md">【その{{ row.SectionNumber }}】{{ row.SectionTitle }}</h3>
        <div class="practice-question">
            <p class="text text--lead">
                {% if row.QuestionNumber == 0 %}
                    書いてみよう
                {% else %}
                    第{{ row.QuestionNumber }}問
                {% endif %}
            </p><br>
            <p class="text">
                {{ row.Question | safe }}
            </p>
        </div>
    </section>

    {% include "parts/query_editor/query_editor_practice.html" %}

</main>
{% endblock %}