{% extends 'base.html' %}
{% block title %}Playground{% endblock %}
{% block contents %}
<main class="page page--sql">
    <section class="section section--header">
        <h1 class="heading heading--xl">お笑いSQL道場</h1>
        <p class="text text--lead">入力したクエリを実行し、結果セットを表示します。</p>
    </section>

    {% include "components/table_structure/table_structure.html" %}

    {% include "components/query_editor/query_editor_lite.html" %}
    
    {% include "components/show_result/show_result.html" %}
</main>
{% endblock %}